body{
  font-size: 62.5%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,p{
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 500;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.5rem;
}

p{
  font-size: 0.95rem;
}

.margin-top_1{
  margin-top: 1rem;
}

.margin-top_2{
  margin-top: 2rem;
}

.main-primary-color {
  color:  #ff5e6c;
}

.shadow-sm{
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1);
}

#home{
  background: linear-gradient(
    rgba(0, 0, 0, 0.90), 
    rgba(0, 0, 0, 0.90));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.home-introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

.home-introduction-paragraph{
  max-width: 500px;
}

.home-separation{
  width: 100px;
  border-top: 5px solid #ff5e6c;
  margin-top: 1.5rem;
}

.home-github-logo{
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 3px;
  position: relative;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin-top: 1.2rem;
}

.home-github-logo svg{
  width: 17px;
  height: 17px;
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
  -webkit-transition: .3s;
  transition: .3s;
  top: 50%;
  left: 50%;
  position: absolute;
  color: #fff;
}

.home-github-logo:hover{
  background-color: #ff5e6c;
  border: 2px solid #ff5e6c;
  color:black;
  fill: #ff5e6c;
}

.home-github-logo span{
  width: 17px;
  height: 17px;
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
  -webkit-transition: .3s;
  transition: .3s;
  top: 50%;
  left: 50%;
  position: absolute;
  color: #fff;
  font-size: 0.8rem;
}

.home-arrow{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigation-name{
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.navigation-items{
  display: flex;
}

.navigation-items-wrapper{
  width: 5rem;
  font-size: 1rem;
  height: 3rem;
}

.navigation-items-wrapper:hover{
 background-color: #ff5e6c;
 color: white;
}

.navigation-items-wrapper a{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.navigation-items-wrapper a:hover{
  color: white;
}


.main__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6rem 6rem 6rem 6rem;
}

.main__container-object{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1rem;
  text-align: left;
}

.main-text{
  font-weight: bold;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 2em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  font-size: 1rem;
  color: #818078;
  background-color: #fcfcfa;
}

.bg-yellow{
  background-color: yellow;
  font-size: 3rem;
  text-align: center;
}
.works-image{
  width: 100%;
  height: 30rem;

}
.works__container-object{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2.5rem;
}


.works-image-container {
  position: relative;
  width: 100%;
  transition: transform .2s; 
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
}

.works-image-overlay {
  position: absolute; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: 10%;
  bottom: 0;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.works-image-container:hover .works-image-overlay {
  opacity: 1;
}

.works-image-container:hover{
  transform: scale(1.2); 
}